

table {
    background-color: #f0f0f0;
    user-select: none;
    
  }
  
body {
  
  
    font-family: Arial, sans-serif;
    font-size: 13px;

  }

.animated-background {
  background-image: linear-gradient(to right, 
                        red, yellow, green, blue, purple);
  background-size: 400% 400%;
  animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

  
  
